footer(role='contentinfo')
    .container
        .top-footer
            .row
                .col-md-3.block-footer
                    a(href='/', title='')
                        img(src=img_url + 'logo-footer.png', alt='')
                    a(href='http://solarispromo.com', title='', rel="nofollow").solaris-logo
                        img(src=img_url + 'solaris-logo.png', alt='Solaris Promo Production')
                .col-md-5.block-footer
                    //-ul.menu-footer
                        li
                            a(href='/legal', title='Правовая информация') Правовая информация
                        li
                            a(href='/about', title='О сервисе') О сервисе
                .col-md-4.block-footer
                    ul.menu-soc
                        li
                            a(href='http://vk.com/vsevi', title='Страница ВсеВидео в Вконтакте', rel="nofollow", target="_new")
                                img(src=img_url + 'i-vk.png', alt='Страница ВсеВидео в Вконтакте')
                        li
                            a(href='http://www.odnoklassniki.ru/group/53196730400877', rel="nofollow", target="_new", title="Страница ВсеВидео в Одноклассниках")
                                img(src=img_url + 'i-ok.png', alt='Страница ВсеВидео в Одноклассниках')
                        li
                            a(href='https://twitter.com/vseviru',  rel="nofollow", target="_new", title='Страница ВсеВидео в Твиттере')
                                img(src=img_url + 'i-tw.png', alt='Страница ВсеВидео в Твиттере')
                        li
                            a(href='https://www.facebook.com/vseviru',title='Страница ВсеВидео на Фейсбуке', rel="nofollow", target="_new")
                                img(src=img_url + 'i-fb.png', alt='Страница ВсеВидео в Фейсбуке')
                        li
                            a(href='http://vsevi.ru/rss/feed', title='RSS новинок на ВсеВидео', rel="nofollow", target="_new")
                                img(src=img_url + 'i-rss.png', alt='RSS новинок на ВсеВидео')

        //-
           .top-footer
        .bottom-footer
            p © ВсеВидео, 2014. Все права защищены. Идея, создание и развитие ресурса: <a href="http://solarispromo.com" rel="nofollow">Solaris Promo Production</a>
        //-
           .bottom-footer
        //-
           .wrap-page
#reg_enter.modal.fade(tabindex='-1', role='dialog', area-hidden='true')
    .modal-dialog
        .modal-content
            button.close.modal-close(type='button', data-dismiss='modal', aria-hidden='true') ×
            .wrap-popup-content
                ul.nav.nav-tabs.popup-tabs-a
                    li.active
                        a(href='#reg', data-toggle='tab')
                            span Регистрация
                    li
                        a(href='#enter', data-toggle='tab')
                            span Вход на сайт
                .tab-content.popup-content
                    #reg.tab-pane.active
                        .wrap-popup-content
                            h3 C помощью почты
                            form.form-horizontal.form-popup(role='form',method="post",action="/register/")
                                .form-group
                                    label.col-sm-3.control-label(for='inputEmail') E-mail
                                    .col-sm-9
                                        input#inputEmail.form-control(type='email',name='email',required)
                                .form-group
                                    label.col-sm-3.control-label(for='inputPassword') Пароль
                                    .col-sm-9
                                        input#inputPassword.form-control(type='password',name='password1',required)
                                        //-p Количество символов должно быть не менее 8-ми.
                                .form-group
                                    label.col-sm-3.control-label(for='inputPasswordRe') Повторите пароль
                                    .col-sm-9
                                        input#inputPasswordRe.form-control(type='password',name='password2',required)
                                .form-group
                                    .col-sm-offset-3.col-sm-10
                                        button.btn.btn-yellow1(type='submit') Зарегистрироваться
                            h3 C помощью социальных сетей
                            ul.soc-hor
                                li
                                    a(href='/login/vk-oauth2', title='')
                                        img(src=img_url + 'i-vk-b.png', alt='')
                                li
                                    a(href='/login/facebook', title='')
                                        img(src=img_url + 'i-fb-b.png', alt='')
                                li
                                    a(href='/login/twitter', title='')
                                        img(src=img_url + 'i-tw-b.png', alt='')
                                li
                                    a(href='/login/google-oauth2', title='')
                                        img(src=img_url + 'i-go-b.png', alt='')
                        //
                           .wrap-popup-content
                    #enter.tab-pane
                        .wrap-popup-content
                            h3 C помощью почты
                            form.form-horizontal.form-popup(role='form',method="post",action="/login/")
                                .form-group
                                    label.col-sm-3.control-label(for='inputEmail1') E-mail
                                    .col-sm-9
                                        input#inputEmail1.form-control(type='email',name='username',required)
                                .form-group
                                    label.col-sm-3.control-label(for='inputPassword1') Пароль
                                    .col-sm-9
                                        input#inputPassword1.form-control(type='password',name='password',required)
                                .form-group
                                    .col-sm-offset-3.col-sm-10
                                        button.btn.btn-yellow1(type='submit') Войти
                            h3 C помощью социальных сетей
                            ul.soc-hor
                                li
                                    a(href='/login/vk-oauth2', title='')
                                        img(src=img_url + 'i-vk-b.png', alt='')
                                li
                                    a(href='/login/facebook', title='')
                                        img(src=img_url + 'i-fb-b.png', alt='')
                                li
                                    a(href='/login/twitter', title='')
                                        img(src=img_url + 'i-tw-b.png', alt='')
                                li
                                    a(href='/login/google-oauth2', title='')
                                        img(src=img_url + 'i-go-b.png', alt='')
                        //-
                           .wrap-popup-content
            //-
               .wrap-popup-content
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
script(src=js_url + 'bootstrap.min.js')
script(src=js_url + 'jquery.rateit.min.js')
script(src=js_url + 'imagesloaded.js')
script(src=js_url + 'config.js')
script(src=js_url + 'mi.helper.js')
script(src=js_url + 'mi.rest.js')
script(src=js_url + 'app1.js')
script(src=js_url + 'jade_runtime.js')
script(src=js_url + 'templates.js')
if IN_PRODUCTION
    |<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter25453334 = new Ya.Metrika({id:25453334, trackLinks:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/25453334" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
