#log
header(role='banner')
    .top-header
        .bg-noise
            .container
                .row
                    if auth_user
                        .col-md-3.profile-block
                            .profile-user.cf
                                - auth_user_url = '/users/' + auth_user.id
                                a(href=auth_user_url, title='')
                                    img.img-circle.fleft(src=auth_user.avatar || noavatar_url, alt='')
                                ul.list-link-user
                                    li
                                        a(href='/profile/', title='') Настройки
                                    li
                                        a(href='/logout/', title='') Выход
                            //-
                               .profile-user
                    else
                        .col-md-3.user-block
                            ul
                                li
                                    a.sprite.sprite-i-enter#login_btn(href='/login/', title='')
                                        span Вход
                                li
                                    a.sprite.sprite-i-reg#reg_btn(href='/register/', title='')
                                        span Регистрация
                    .col-md-3.logo-block
                        a(href='/', title='Все Видео')
                            img.logo(src=img_url + 'logo-header.png', alt='')
                    .col-md-6.search-block
                        form.input-group(action="/search",method="get")
                            - search_text = (search_text || "").replace(/[<>]/g, " ")
                            input.form-control(type='text', placeholder='Поиск по сайту',name="text",value=search_text)
                            span.input-group-btn
                                button.btn.btn-primary(type='submit') Найти
    .bottom-header
        .container
            .row
                .col-md-8.col-sm-8
                    ul.menu-header
                        li
                            a(href='/', title='')
                                i.sprite.sprite-i-film
                                br
                                | Фильмы
                        li.inactive
                            a(href='#', title='')
                                i.sprite.sprite-i-ser
                                br
                                | Сериалы
                        li.inactive
                            a(href='#', title='')
                                i.sprite.sprite-i-tv
                                br
                                | ТВ-программа
                        li.inactive
                            a(href='#', title='')
                                i.sprite.sprite-i-online
                                br
                                | Онлайн
                .col-md-4.col-sm-4
                    ul.menu-header
                        li
                            - auth_modal = auth_user?"":'modal'
                            a(href='/playlist', title='', data-toggle=auth_modal, data-target='#reg_enter', data-remote="false")
                                i.sprite.sprite-i-play
                                br
                                | Плейлист
                        li
                            a(href='/stream', title='',data-toggle=auth_modal, data-target='#reg_enter', data-remote="false")
                                i.sprite.sprite-i-tape
                                br
                                | Лента
