mixin person_thumb(person, id)
    .person-thumb(data-mi-id="id",data-mi-val=person.id)
        .photo
            img.img-responsive.img-circle(data-mi-atsrc="photo",data-mi-default="static/img/noperson.jpg",src=person.photo || "static/img/noperson.jpg")
        p
            a(href="/persons/"+person.id,data-mi-name="name",data-mi-athref="id").name=person.name

mixin user_thumb(user, id)
    .user-thumb(id=id?id:("user_thumb_" + user.id),style='background-image:url("' + (user.avatar || conf.noavatar_url) + '")')
        p
            a(href="/user/"+user.id).name=user.name

mixin film_thumb(item,id)
    .film-thumb.col-md-3(data-mi-id="id",data-mi-val=item.id)
        .poster-wrapper
            .poster-place(data-mi-id="poster",data-mi-atbg="poster",data-mi-default="static/img/noposter.jpg",style='background-image: url("' + item.poster + '")')
            
        .rating-place(class = item.ratings?"":"invisible")
            p.rating(data-mi-name="ratings.cons.0")
                =item.ratings.cons
        .name-place
            a(href="/films/" + item.id,data-mi-athref="id",data-mi-name="name",data-mi-id="name").name=item.name
            span.year(data-mi-id="year",data-mi-name="releasedate")=" (" + item.year + ")"
        .rel-place
            .rateit.rate(data-mi-id="relation.rating",data-mi-val=(item.relation && item.relation.rating)?item.relation.rating:0,data-rateit-max=10,data-rateit-resetable=0,data-rateit-value=(item.relation && item.relation.rating)?item.relation.rating:0)
            button.notwatch-btn(data-mi-onclick="toggle_notwatch",data-mi-id="relation.notwatch",data-mi-val=item.relation && item.relation.notwatch?1:0) N
        .button-place(data-mi-id="button-place",class=!item.hasFree && item.price?"button-priced":"")
            .instock(data-mi-id="instock",class=item.instock?"":"display-none")
                button.watch-btn(data-mi-id="watch_btn",data-mi-onclick="watchfilm")!=("Смотреть" + ((!item.hasFree && item.price)?"<br/><span>от <span class=\"price\" data-mi-name=\"price\">300</span> р. без рекламы</span>":"<br/>Бесплатно"))
                button.playlist-btn(data-mi-id="relation.playlist",data-mi-onclick="toggle_playlist",data-mi-val=item.relation && item.relation.playlist?1:0) +
                .watchprice(data-mi-id="watch_price",class=(item.hasFree && item.price)?"":"invisible")
                    | или<br/>
                    a(href="/films/" + item.id,data-im-athref="id") от <span class="price" data-mi-name="price">#{item.price}</span> р. без рекламы
            .notinstock(data-mi-id="notinstock",class=item.instock?"display-none":"")
                button.subscribe-btn(data-mi-id="relation.subscribed",data-mi-onclick="toggle_subscribe",data-mi-val=item.relation && item.relation.subscribed?1:0) Подписаться
                .watchprice &nbsp;<br/>&nbsp;

mixin comment_thumb(item, id)
    .comment-thumb(data-mi-id="id",data-mi-val=item.id)
        .avatar-place
            img.img-responsive.img-circle(data-mi-atsrc="user.avatar",data-mi-default="static/img/noavatar.jpg",src=item.user.avatar || "static/img/noavatar.jpg")
        .text-place
            .info
                .time(data-mi-name="time_text",data-mi-id="time_text",data-mi-val=item.created)=item.time_text || item.created
                .name
                    a(data-mi-athref="user.id",data-mi-name="user.name",href="/users/"+item.user.id)=item.user.name
            .text(data-mi-name="text")!=item.text

mixin feed_thumb(item, id)
    .feed-thumb(id=id?id:("feed_" + item.id))
        - time = time_text(new Date(item.created))
        if (item.type == "sys-a")
            .record.feed-sys-a
                .info-place
                    .time=time
                .cont-place
                    p.event системное сообщение
                    .text=item.text || ""
        else if (item.type == "film-o")
            .record.feed-film-o
                .image(style='background-image: url("' + (item.object.poster || conf.noposter_url) + '")')
                .info-place
                    .time=time
                .cont-place
                    p.event фильм появился в кинотеатре
                    a(href="/films/" + item.object.id)=item.object.name
        else if (item.type == "pers-o")
            .record.film-pers-o
                .image(style='background-image: url("' + (item.object.photo || conf.noperson_url) + '")')
                .info-place
                    .time=time
                .cont-place
                    a.name(href="/persons/" + item.object.id)=item.object.name
                    p.event.type-a(class=type=="a"?"":"display-none")
                        | появился фильм с актёром
                    p.event.type-d(class=type=="d"?"":"display-none")
                        | появился фильм с режиссёром
                    p.event.type-s(class=type=="s"?"":"display-none")
                        | появился фильм с сценаристом
                    .film-info
                        a(href="/films/" + item.object.film.id)=item.object.film.name
        else
            .record(class="feed-" + item.type)
                .image(style='background-image: url("' + (item.user.avatar || conf.noavatar_url) + '")')
                .info-place
                    .time=time
                    .name
                        a(href="/users"/ + item.user.id)=item.user.name
                .cont-place
                    if (item.type.substr(0,4) == "film")
                        if (item.type == "film-r")
                            p.event оценил фильм
                        else if (item.type == "film-c")
                            p.event оставил комментарий
                        else if (item.type == "film-nw")
                            p.event не будет смотреть фильм
                        else if (item.type == "film-s")
                            p.event подписался на фильм
                        .film-info
                            a(href="/films/" + item.object.id)=item.object.name
                        if (item.type == "film-r")
                            p=item.object.rating
                        else if (item.type == "film-c")
                            .text=item.object.text
                    else if (item.type == "pers-s")
                        p.event подписался на персону
                        .person-info
                            .photo(style='background-image: url("' + (item.object.photo || conf.noperson_url) + '")')
                            .name
                                a(href="/person/" + item.object.id)=item.object.name
                    else if (item.type.substr(0,4) == "user")
                        if (item.type == "user-a")
                            p.event создал запрос на дружбу
                        else if (item.type == "user-f")
                            p.event теперь друзья
                        .user-info
                            .avatar(style='background-image: url("' + (item.object.avatar || conf.noavatar_url) + '")')
                            .name
                                a(href="/user/" + item.object.id)=item.object.name

mixin location_thumb(item,id)
    .location-thumb(data-mi-id="id",data-mi-val=item.id)
        .btn-place(data-mi-id="quality",data-mi-val=item.quality)
            button=item.quality
        .info-place
            p.type(data-mi-val=item.type,data-mi-id="type")=item.type
            p.price(data-mi-id="price",data-mi-val=item.price)
                if (item.price_type==0)
                    | смотреть бесплатно
                else if (item.price)
                    | #{item.price} + " р."

mixin user_place(user)
    #usr_reg_place(class=user.is_auth?"":"display-none")
        .avatar-place
            img.img-circle(src=conf.noavatar_url)
        .name-place
            p
                a(href="account.html")
                    strong #{user.name}<br/>
                a(href="logout.html") Выйти
    #usr_guest_place(class=user.is_auth?"display-none":"")
        ul.list-inline.list-unstyled
            li
                a(href="register.html") Регистрация
            li
                a(href="login.html") Войти
