- location_names = {"drugoekino": "Другое Кино", "youtubemoviesru": "Youtube Movies", "ivi": "IVI.ru", "nowru": "Now.ru", "megogo": "Megogo", "tvigle": "TVigle", "zoomby": "Zoomby.ru", playfamily: "PlayFamily.ru", "olltv": "Oll.tv", amediateka: "Amediateka", molodejj: "Molodejj.tv", streamru: "Stream.ru", tvzavr: "TVzavr.ru", viaplay: "Viaplay.ru", zabavaru: "Zabava.ru", playgoogle: "Play Google", itunes: "Apple Itunes", ayyo: "Ayyo.ru", mosfilm: "Cinema.mosfilm.ru", "tvzorru": "TVzor", "default": "Неизвестно"}

- quality_texts = {"norm": "Отличное", "hd": "Хорошее", "fhd": "Full<strong>HD</strong>", "default": "Хорошее"}
- months = ["января", "февраля", "марта", "апреля", "мая", "июня", "июля", "августа", "сентября", "октября", "ноября", "декабря"]
- date_now = new Date()
- function how_long_str(str, level) {
-   try {
-       return how_long(new Date(str), level);
-   } catch (e) {
-       return "";
-   }
- }
- function how_long(dt, level) {
-   var months, years, days, res;
-   years = date_now.getFullYear() - dt.getFullYear();
-   months = date_now.getMonth() - dt.getMonth();
-   days = date_now.getDate() - dt.getDate();
-   if (days < 0) {
-       months--;
-       days = date_now.getDate() + new Date(dt.getFullYear(), dt.getMonth() + 1, 0).getDate() - dt.getDate()
-   }
-   res = "";
-   if (months < 0) {
-	    years--;
-	    months+= 12;
-   }
-   if (level == undefined) level = 0
-   if (years > 0 || level == 0) res = years + cardinal(years, " год", " года", " лет");
-   if (level > 0) {
- 	    if (months > 0 || level == 1) res+= (res?" ":"") + months + cardinal(months, " месяц", " месяца", " месяцев")
-	    if (level > 1) {
-		    if (days > 0 || level == 2) res+= (res?" ":"") + days + cardinal(days, " день", " дня", " дней");
-	    }
-   }
-   return res;
- }
- function string_to_date(str) {
-   //yyyy-mm-dd hh:mm:ss
-   var ar1, ar2, ar3;
-   ar1 = str.split(" ")
-   ar2 = ar1[0].split("-")
-   ar3 = ar1[1]?ar1[1].split(":"):[0,0,0]
-   return new Date(ar2[0],parseInt(ar2[1]) - 1,ar2[2],ar3[0],ar3[1],ar3[2])
- }
- function cardinal(val, form1, form2, form3) {
-   var d10;
-   if (val > 4 && val < 21) return form3;
-   d10 = val % 10;
-   if (d10 == 0 || d10 > 4) return form3;
-   if (d10 == 1) return form1;
-   return form2;
- }
- function duration_text(min) {
-   var ho, mi;
-   ho = Math.floor(min / 60); mi = min - ho*60;
-   res = ho?ho + cardinal(ho, " час", " часа", " часов"):"";
-   if (mi) res+= (res?" ":"") + mi + cardinal(mi, " минута", " минуты", " минут")
-   return res || "0 минут";
- }
- function date_text_str(str) {
-   try {
-       return date_text(new Date(str));
-   } catch (e) {
-       return str;
-   }
- }
- function date_text(dt) {
-   return dt.getDate() + " " + months[dt.getMonth()] + " " + dt.getFullYear() + " г.";
- }
- function time_text_str(str) {
-   try {
-       return time_text(new Date(str));
-   } catch (e) {
-       return str;
-   }
- }
- function time_text(dt) {
-   var diff, curday, curtime, ho;
-   curtime = dt.getTime();
-   diff = (date_now.getTime() - curtime) / 1000;
-   if (diff < 60) return "сейчас";
-   if (diff < 3600) {
-       min = Math.floor(diff / 60)
-       return min + cardinal(min, " минуту", " минуты", " минут") + " назад"
-   }
-   curday = Math.floor(date_now.getTime() / 86400) * 86400;
-   if (curday < curtime) {
-       ho = Math.floor(diff / 3600);
-       if (ho <= 6) {
-           return ho + cardinal(ho, " час", " часа", " часов") + " назад";
-       } else return "сегодня";
-   }
-   if ((curday - 86400) < curtime) return "вчера";
-   if (dt.getFullYear() == date_now.getFullYear()) return dt.getDate() + " " + months[dt.getMonth()];
-   return dt.getDate() + " " + months[dt.getMonth()] + " " + dt.getFullYear();
- }
mixin film_thumb(item)
    .col-md-3.col-sm-4.col-xs-6.film-thumb(data-mi-id="id",data-mi-val=item.id)
        - year = item.releasedate?item.releasedate.substr(0,4):""
        - url = "/films/" + item.id + "/"
        - has_free = false
        - min_price = false
        - price_loc = ""
        - btn_cls = ""
        - price_loc_cnt = 0
        - if (item.locations && item.locations.length>0) {
        -   for (i = 0; i < item.locations.length; i++) {
        -       obj = item.locations[i];
        -       if (obj.price_type == 0) {
        -            has_free = true;
        -       } else {
        -           price_loc_cnt++;
        -           if (min_price === false || min_price > obj.price) {
        -               min_price = obj.price;
        -               price_loc = obj.id
        -           }
        -       }
        -   }
        -   if (min_price)
        -       min_price = Math.floor(min_price)
        -   url_loc = price_loc?(url+"#" + price_loc):""
        -   url_btn = url
        -   if (min_price && !has_free) {
        -       btn_cls = "btn-price"
        -       btn_text = "Смотреть<br><i>" + (price_loc_cnt > 1?"от ":"") + min_price + " р. без рекламы</i>"
        -       url_btn = url_loc
        -   } else {
        -       btn_cls = "btn-free"
        -       btn_text = "Смотреть<br/>бесплатно"
        -       url_btn = url + "#player"
        -   }
        - } else {
        -   btn_cls = "btn-subscribe"
        -   btn_text = "Подписаться"
        - }
        a(href=url, title='',data-mi-athref="id").poster-place
            - title_alt = item.name
            - if (item.name_orig && item.name_orig != item.name) title_alt+= " (" +item.name_orig + ")"
            - title_alt+= " " + year
            img(src=item.poster || noposter_url,data-mi-atsrc="poster",data-mi-default=noposter_url,data-mi-id="poster",title=title_alt, alt=title_alt,data-mi-attitle="title_alt", data-mi-atalt="title_alt").img-poster
        img(src=img_url + 'shd-small.png', alt='')
        .rel.zmin.num
            i(data-mi-name="ratings.cons.0")=(item.ratings && item.ratings.cons)?item.ratings.cons[0]:""
        .caption-def
            .name-film
                a(href=url, title='',data-mi-athref="id")
                    span(data-mi-name="name")=item.name
                    | #{" ("}
                    i(data-mi-name="releasedate",data-mi-id="releasedate",data-mi-val=item.releasedate)=year
                    |)
            .range-style.range-block
                .rateit(data-mi-id="relation.rating",data-mi-val=(item.relation && item.relation.rating)?item.relation.rating:0,data-rateit-step=1,data-rateit-max=10,data-rateit-resetable=1,data-rateit-value=(item.relation && item.relation.rating)?item.relation.rating:0)
            .btn-def.block.margin0a(class=btn_cls,data-mi-id="btn")
                a(href=url_btn , title='',data-mi-id="btn_text",data-mi-athref="id")!=btn_text
                a.btn-add.ab(href=url, title='Добавить в плейлист',data-mi-id="relation.playlist",data-mi-onclick="toggle_playlist",data-mi-val=item.relation && item.relation.playlist?1:0)
            p(class=min_price && has_free?'':'display-none',data-mi-id="btn_price")
                | или
                br
                a(href=url_loc, title='',data-mi-athref="id")
                    - text = " " + (price_loc_cnt > 1?"от ":"") + min_price + " р. без рекламы"
                    span(data-mi-id="price")=text

mixin loc_thumb(item)
    - btn_cls = "btn-silver"
    - if (item.quality == "hd") {
    -   btn_cls = "btn-blue"
    - }
    - if (item.quality == "fhd") {
    -   btn_cls = "btn-yellow4"
    - }
    - if (item.price)
    -   price = Math.floor(item.price)
    li(data-mi-val=item.id).location-thumb
        - href = "#" + item.id
        a.block.margin0a.btn-film(href=href, title='',class=btn_cls)!=quality_texts[item.quality] || quality_texts["default"]
        p
            |#{location_names[item.type] || location_names["default"]}
            br
            span=item.price_type == 0?"бесплатно":(price + " р.")

mixin person_thumb(item)
    li(data-mi-id="id",data-mi-val=item.id)
        - person_url = '/persons/' + item.id + '/'
        .actor
            a(href=person_url, title='', data-mi-athref="id")
                img.img-circle(src=item.photo || nophoto_url, alt='', data-mi-atsrc="photo", data-mi-default=nophoto_url)
                span(data-mi-name="name")=item.name

mixin user_thumb(item)
    li(data-mi-id="id",data-mi-val=item.id)
        .actor
            - user_url = "/users/" + item.id + "/"
            a(href=user_url, title='', data-mi-athref="id")
                img.img-circle(src=item.avatar || noavatar_url, alt='', data-mi-atsrc="avatar", data-mi-default=noavatar_url)
                span(data-mi-name="name")=item.name

mixin user_thumb2(item)
    li(data-mi-id="id",data-mi-val=item.id)
        .user
            - user_url = "/users/" + item.id + "/"
            a(href=user_url, title='', data-mi-athref="id")
                img.img-circle(src=item.avatar || noavatar_url, alt='', data-mi-atsrc="avatar", data-mi-default=noavatar_url)
                span(data-mi-name="name")=item.name

mixin comment_thumb(item)
    .tape-item.cf(data-mi-id="id", data-mi-val=item.id).comment-thumb
        - if (item.user) {
        -   name = item.user.name || ("Пользователь #" + item.user.id); avatar = item.user.avatar || noavatar_url; href = "/users/" + item.user.id;
        - } else {
        -   name = "Неизвестно"; avatar = noavatar_url; href = "#";
        - }
        - text = item.text.replace(/\n+/gm, "<br/>")
        .row
            .col-md-1.col-sm-2.col-xs-2
                .tape-img
                    a(href=href, title='')
                        img.img-circle(src=avatar, alt='', data-mi-atsrc="user.avatar", data-mi-default=noavatar_url)
            .col-md-11.col-sm-10.col-xs-10
                .play-comments
                    .title-item-tape.cf
                        .row
                            .col-md-9.col-sm-9.col-xs-9
                                a(href=href, title='', data-mi-athref="user.id", data-mi-name="user.name")=name
                            .col-md-3.col-sm-3.col-xs-3
                                .time-tape(data-mi-id="created",data-mi-val=item.created,data-mi-name="created")=time_text_str(item.created)
                    //-
                       .title-item-tape
                    .content-item-tape
                        .short-text-tape
                            p(data-mi-name="text")!=text


mixin feed_thumb(item, for_tpl)
    - same_user = false
    - if (item.user) {
    -   if (auth_user && auth_user.id == item.user.id) {
    -       user_url = '/profile'
    -       user_name = "Вы"
    -       avatar = auth_user.avatar || noavatar_url
    -       same_user = true
    -   } else {
    -       avatar = item.user.avatar || noavatar_url
    -       user_url = '/users/' + item.user.id + "/"
    -       user_name = item.user.name || "Пользователь"
    -   }
    - }
    - created = time_text_str(item.created)
    - if (item.type.substr(0,4) == "film") {
    -   film_url = "/films/" + item.object.id + "/"
    - } else if (item.type.substr(0,4) == "pers") {
    -   person_url = "/persons/" + item.object.id + "/"
    - } else if (item.type.substr(0,4) == "user") {
    -   user_url = '/users/' + item.object.id + '/'
    - }
    .feed-thumb(class=for_tpl?'display-none':'')
        if item.type == "film-c" || for_tpl
            .tape-item.cf.tape-thumb(class="tape-film-c")
                .row
                    .col-md-1.col-sm-2.col-xs-2
                        .tape-img
                            a(href=user_url, title='', data-mi-athref="user.id")
                                img.img-circle(src=avatar, alt='', data-mi-atsrc="user.avatar", data-mi-default=noavatar_url)
                    .col-md-11.col-sm-10.col-xs-10
                        .title-item-tape.cf
                            .row
                                .col-md-10.col-sm-9.col-xs-9
                                    a(href=user_url, title='', data-mi-name="user.name", data-mi-athref="user.id")=user_name
                                    |&nbsp;оставил комментарий к фильму
                                .col-md-2.col-sm-3.col-xs-3
                                    .time-tape(data-mi-id="created", data-mi-name="created", data-mi-val=item.created)=created
                        //-
                           .title-item-tape
                        .content-item-tape
                            .short-text-tape
                                h4
                                    a(href=film_url, title='', data-mi-athref="object.id", data-mi-name="object.name")=item.object.name
                                - text = (item.object.text || "").replace(/\n+/gm, "<br/>")
                                p(data-mi-name="object.text")=item.object.text
                            //-
                               .short-text-tape
                        //-
                           .content-item-tape
            //-
               .tape-item
        if item.type == "film-r" || for_tpl
            .tape-item.cf.tape-thumb(class="tape-film-r")
                .row
                    .col-md-1.col-sm-2.col-xs-2
                        .tape-img
                            a(href=user_url, title='',data-mi-athref="user.id")
                                img.img-circle(src=avatar, alt='', data-mi-atsrc="user.avatar", data-mi-default=noavatar_url)
                    .col-md-11.col-sm-10.col-xs-10
                        .title-item-tape.cf
                            .row
                                .col-md-10.col-sm-9.col-xs-9
                                    a(href=user_url, title='', data-mi-name="user.name", data-mi-athref="user.id")=user_name
                                    |&nbsp;оценил фильм
                                .col-md-2.col-sm-3.col-xs-3
                                    .time-tape(data-mi-id="created", data-mi-name="created", data-mi-val=item.created)=created
                        //-
                           .title-item-tape
                        .content-item-tape
                            h4
                                a(href=film_url, title='', data-mi-athref="object.id", data-mi-name="object.name")=item.object.name
                            br
                            .range-block-tape.cf
                                .range-style2.fleft
                                    .rateit(data-mi-id="object.rating",data-mi-val=item.object.rating,data-rateit-max=10,data-rateit-resetable=0,data-rateit-value=item.object.rating, data-rateit-readonly="true")
                                //-
                                   .range-style2
                                span(data-mi-name="object.rating")=item.object.rating
                                |&nbsp;из 10
                            //-
                               .range-block-tape
                        //-
                           .content-item-tape
            //-
               .tape-item
        if item.type == "pers-s" || for_tpl
            .tape-item.cf.tape-thumb(class="tape-pers-s")
                .row
                    .col-md-1.col-sm-2.col-xs-2
                        .tape-img
                            a(href=user_url, title='',data-mi-athref="user.id")
                                img.img-circle(src=avatar, alt='', data-mi-atsrc="user.avatar", data-mi-default=noavatar_url)
                    .col-md-11.col-sm-10.col-xs-10
                        .title-item-tape.cf
                            .row
                                .col-md-10.col-sm-9.col-xs-9
                                    a(href=user_url, title='', data-mi-name="user.name", data-mi-athref="user.id")=user_name
                                    |&nbsp;подписался на обновления актера
                                .col-md-2.col-sm-3.col-xs-3
                                    .time-tape(data-mi-id="created", data-mi-name="created", data-mi-val=item.created)=created
                        //-
                           .title-item-tape
                        .content-item-tape
                            .actor
                                a(href=person_url, title='',data-mi-athref="object.id")
                                    img.img-circle(src=item.object.photo || nophoto_url, alt='',data-mi-atsrc="object.photo")
                                    span(data-mi-name="object.name")=item.object.name
                            //-
                               .actor
                        //-
                           .content-item-tape
            //-
               .tape-item
        if item.type == "sys-a" || for_tpl
            .tape-msg.tape-thumb(class="tape-sys-a")
                i.type-msg1.block.sprite.sprite-i-danger.fleft
                p(data-mi-name="text")=item.text
            //-
               .tape-msg
        if item.type == "film-s" || for_tpl
            .tape-item.cf.tape-thumb(class="tape-film-s")
                .row
                    .col-md-1.col-sm-2.col-xs-2
                        .tape-img
                            a(href=user_url, title='',data-mi-athref="user.id")
                                img.img-circle(src=avatar, alt='', data-mi-atsrc="user.avatar", data-mi-default=noavatar_url)
                    .col-md-11.col-sm-10.col-xs-10
                        .title-item-tape.cf
                            .row
                                .col-md-10.col-sm-9.col-xs-9
                                    a(href=user_url, title='', data-mi-name="user.name", data-mi-athref="user.id")=user_name
                                    |&nbsp;подписался на фильм
                                .col-md-2.col-sm-3.col-xs-3
                                    .time-tape(data-mi-id="created", data-mi-name="created", data-mi-val=item.created)=created
                        //-
                           .title-item-tape
                        .content-item-tape
                            .short-text-tape1.cf
                                a(href=film_url, title='', data-mi-athref="object.id")
                                    img(src=item.object.poster || noposter_url, alt='', data-mi-atsrc="object.poster", data-mi-default=noposter_url)
                                h4
                                    a(href=film_url, title='', data-mi-athref="object.id", data-mi-name="object.name")=item.object.name
                                    //- + " (" + item.object.releasedate.substr(0,4) + ")"
                                p(data-mi-name="object.description")=item.object.description
        if item.type == "film-o" || for_tpl
            .tape-msg.tape-thumb(class="tape-film-o")
                i.type-msg1.block.sprite.sprite-i-bell.fleft
                p
                    |&nbsp;В кинотеатре появился новый фильм&nbsp;

                    a(href=film_url, title='', data-mi-name="object.name", data-mi-athref="object.id")=item.object.name
                //-
                   .tape-msg
        if item.type == "user-f" || for_tpl
            .tape-item.cf.tape-thumb(class="tape-user-f")
                .row
                    .col-md-1.col-sm-2.col-xs-2
                        .tape-img
                            a(href=user_url, title='',data-mi-athref="user.id")
                                img.img-circle(src=avatar, alt='', data-mi-atsrc="user.avatar", data-mi-default=noavatar_url)
                    .col-md-11.col-sm-10.col-xs-10
                        .title-item-tape.cf
                            .row
                                .col-md-10.col-sm-9.col-xs-9
                                    a(href=user_url, title='', data-mi-name="user.name", data-mi-athref="user.id")=user_name
                                    |&nbsp;теперь дружит с
                                .col-md-2.col-sm-3.col-xs-3
                                    .time-tape(data-mi-id="created", data-mi-name="created", data-mi-val=item.created)=created
                        //-
                           .title-item-tape
                        .content-item-tape
                            .actor
                                a(href=user_url, title='')
                                    img.img-circle(src=item.object.avatar || noavatar_url, alt='',data-mi-atsrc="object.avatar",data-mi-default=noavatar_url)
                                    span(data-mi-name="object.name")=item.object.name
                            //-
                               .actor
                        //-
                           .content-item-tape
            //-
               .tape-item
        if item.type == "pers-o" || for_tpl
            .tape-msg.tape-thumb(class="tape-pers-o")
                i.type-msg1.block.sprite.sprite-i-user.fleft
                p
                    |&nbsp;В кинотеатре появился новый фильм с участием актёра&nbsp;
                    a(href=person_url, title='',data-mi-athref="object.id", data-mi-name="object.name")=item.object.name
            //-
               .tape-msg
        if item.type == "film-nw" || for_tpl
            .tape-item.cf.tape-thumb(class="tape-film-nw")
                .row
                    .col-md-1.col-sm-2.col-xs-2
                        .tape-img
                            a(href=user_url, title='',data-mi-athref="user.id")
                                img.img-circle(src=avatar, alt='', data-mi-atsrc="user.avatar", data-mi-default=noavatar_url)
                    .col-md-11.col-sm-10.col-xs-10
                        .title-item-tape.cf
                            .row
                                .col-md-10.col-sm-9.col-xs-9
                                    a(href=user_url, title='', data-mi-name="user.name", data-mi-athref="user.id")=user_name
                                    |&nbsp;не будет смотреть фильм
                                .col-md-2.col-sm-3.col-xs-3
                                    .time-tape(data-mi-id="created", data-mi-name="created", data-mi-val=item.created)=created
                        //-
                           .title-item-tape
                        .content-item-tape
                            .short-text-tape1.cf
                                a(href=film_url, title='', data-mi-athref="object.id")
                                    img(src=item.object.poster || noposter_url, alt='', data-mi-atsrc="object.poster", data-mi-default=noposter_url)
                                h4
                                    a(href=film_url, title='', data-mi-athref="object.id", data-mi-name="object.name")=item.object.name
                                    //+ " (" + item.object.releasedate.substr(0,4) + ")"
                                p(data-mi-name="object.description")=item.object.description
                            //-
                               .short-text-tape
                            //-ul.action-tape
                                li
                                    a(href='#', title='') Подписаться
                                li
                                    a(href='#', title='') Посмотреть
                        //-
                           .content-item-tape
            //-
               .tape-item
        if item.type == "user-a" || for_tpl
            .tape-item.cf.tape-thumb(class="tape-user-a")
                .row
                    .col-md-1.col-sm-2.col-xs-2
                        .tape-img
                            a(href=user_url, title='',data-mi-athref="object.id")
                                img.img-circle(src=avatar, alt='', data-mi-atsrc="user.avatar", data-mi-default=noavatar_url)
                    .col-md-11.col-sm-10.col-xs-10
                        .title-item-tape.cf
                            .row
                                .col-md-10.col-sm-9.col-xs-9
                                    a(href=user_url, title='', data-mi-athref="object.id", data-mi-name="object.name")=item.object.name
                                    |&nbsp;предлагает вам дружить
                                .col-md-2.col-sm-3.col-xs-3
                                    .time-tape(data-mi-id="created", data-mi-name="created", data-mi-val=item.created)=created
                        //-
                           .title-item-tape
                        .content-item-tape
                            a.btn-yellow3.rel.zmin(href='#', title='') Добавить в друзья
                        //-
                           .content-item-tape
            //-
               .tape-item
            //-
               .tape-list


mixin casts_list(casts)
    .list-cast
        .container
            .row#casts
                each item in casts
                    mixin cast_thumb(item)
            .add-filter#casts_more
                .add-content.style-panel-action.rel.zmin
                    - href = "/?page=" + (page?(page + 1):2)
                    a(href=href) покажите еще трансляций
                img.img-responsive(src=img_url + 'shd-big.png', alt='')



mixin cast_thumb(item)
    .col-md-3.col-sm-4.col-xs-6(data-mi-id="id",data-mi-val=item.id).cast-thumb
        - start_date = item.start ? new Date(item.start*1000) : null
        - generic_title = item.generic_title //Тэг/ обобщенное название
        - title = item.title //Конкретное название
        - title_orig = item.title_orig
        - pg_rating = item.pg_rating
        - poster_url = item.poster
        - url = "/casts/" + item.id + "/"
        - watching_users_count = item.watching_users_count

        - curr_date = new Date()
        - item.start_in = Math.floor(  ( start_date.getTime() - curr_date.getTime() )/1000  )
        - item.duration = 1000
        - end_date = new Date(start_date)
        - end_date.setMinutes(start_date.getMinutes() + item.duration)
        - start_date_class = is_online ? "label-success" : "label-primary"
        - start_in_date = new Date(item.start_in*1000)

        - has_free = false
        - min_price = false
        - price_loc = ""
        - btn_cls = ""
        - price_loc_cnt = 0

        - if ( start_date < curr_date ) {
        -   console.log( item.locations )
        -   for (i = 0; i < item.locations.length; i++) {
        -       obj = item.locations[i];
        -       if (obj.price_type == 0) {
        -            has_free = true;
        -       } else {
        -           price_loc_cnt++;
        -           if (min_price === false || min_price > obj.price) {
        -               min_price = obj.price;
        -               price_loc = obj.id
        -           }
        -       }
        -   }
        -   if (min_price) {
        -       min_price = Math.floor(min_price)
        -   }
        -   url_loc = price_loc?(url+"#" + price_loc):""
        -   url_btn = url
        -   if (min_price && !has_free) {
        -       btn_cls = "btn-price"
        -       btn_text = "Смотреть<br><i>" + (price_loc_cnt > 1?"от ":"") + min_price + " р. без рекламы</i>"
        -       url_btn = url_loc
        -   } else {
        -       btn_cls = "btn-free"
        -       btn_text = "Смотреть<br/>бесплатно"
        -       url_btn = url + "#player"
        -   }
        - } else {
        -   btn_cls = "btn-subscribe"
        -   btn_text = "Подписаться"
        - }
        a(href=url, title='',data-mi-athref="id").poster-place
            - title_alt = ( generic_title ? generic_title + '. ' : '' ) + title
            - if (title_orig && title_orig != title_orig) title_alt += " (" + title_orig + ")"
            img(src=poster_url || noposter_url,data-mi-atsrc="poster",data-mi-default=noposter_url,data-mi-id="poster",title=title_alt, alt=title_alt,data-mi-attitle="title_alt", data-mi-atalt="title_alt").img-poster
        img(src=img_url + 'shd-small.png', alt='')

        .cast-item-def
            .cast-item-status
                - time_to_wait_str = ''
                - if ( curr_date < start_date ) {
                -   if( item.start_in < 86400 ) {
                -       start_in_minutes = Math.floor(item.start_in / 60)
                -       time_to_wait_str = ( start_in_minutes < 60 ? 'примерно ' : '' ) + 'через ' + duration_text( start_in_minutes )
                -   } else {
                -       time_to_wait_str += start_date.getDate() + ' ' +  months[start_date.getMonth()]
                -       time_to_wait_str += ' в ' + start_date.getHours() + ':' + ( start_date.getMinutes() < 10 ? '0' : '' ) + start_date.getMinutes()
                -   }
                    div.label.label-primary=time_to_wait_str
                - } else if( curr_date < end_date ) {
                    - if( watching_users_count !== null && watching_users_count !== undefined )
                        div.fright.cast-watching-users-count смотрят:
                            | #{" "}
                            =watching_users_count
                    div.label.label-success online
                - } else {
                    - archive_date_text = start_date.getDate() + ' ' + months[start_date.getMonth()]
                    - if (start_date.getFullYear() !== curr_date.getFullYear() ) {
                    -   archive_date_text += " " + start_date.getFullYear()
                    - }
                    div.fright.cast-archive-date=archive_date_text
                    div.label.label-primary Архив
                - }

            .cast-item-header
                a(href=url, title='',data-mi-athref="id")
                    span.cast-item-title=title

                    span(data-mi-name="pg_rating",data-mi-id="pg_rating",data-mi-val=pg_rating).cast-item-pg-rating
                        | #{" ("}
                        =pg_rating
                        |)
            .btn-def.block(class=btn_cls,data-mi-id="btn")
                a(href=url_btn , title='',data-mi-id="btn_text",data-mi-athref="id")!=btn_text
            p(class=min_price && has_free?'':'display-none',data-mi-id="btn_price")
                | или
                a(href=url_loc, title='',data-mi-athref="id")
                    - text = " " + (price_loc_cnt > 1?"от ":"") + min_price + " р. без рекламы"
                    span(data-mi-id="price")=text

mixin cast_player(loc)
    if loc.type == 'liverussia_ru'
        - frame_url = 'http://player.rutv.ru/iframe/live/id/' + loc.value + '/showZoomBtn/false?time_play=0&isPlay=true&showPopUpBtn=false&showZoomBtn=true';
        iframe(src=frame_url, width="100%", height="100%", frameborder="0", allowfullscreen="")
    else if loc.type == 'sportbox_ru'
        !=loc.value
