doctype html5
include mixins
html(lang="ru")
    include head
    body.page-person
        include header
        .person-wrapper
            .container
                .col-md-3
                    .photo
                        img.img-responsive(src=person.photo || "static/img/noperson-big.jpg")
                    .button-place
                        button.subscribe-btn#subscribe_btn Подписаться
                .col-md-9
                    h1 #{person.name} <em>#{person.name_orig}</em>
                    table
                        if (person.roles && person.roles.length)
                            tr
                                th Карьера
                                td
                                    - items_str = person.roles.join(", ")
                                    =items_str
                        if (person.birthplace && person.birthplace.length)
                            tr
                                th Место рождения
                                td
                                    - items_str = person.birthplace.join(",")
                                    =items_str
                        tr
                            th Дата рождения
                            td #{person.birthdate} #{person.years_old} лет
                    h2 Биография
                    .bio!=person.bio
        .films-wrapper
            .container
                h2 Фильмография
            .container#films
            
                each item in filmography
                    mixin film_thumb(item)
            .container
                .films-more#films_more
                    button
                        span Мало, хочу ещё фильмов
                    .shadow
        include footer
        script.
            $(document).ready(function () {window.InitApp({page_conf: !{JSON.stringify(person)}}, "Person")})