doctype html
html
    include config
    - if (playlist.total_cnt) {
    -   film = playlist.film
    -   film_year = film.releasedate.substr(0,4)
    -   page_title = film.name + " &mdash; Плейлист (" + playlist.id + "/" + playlist.total_cnt + ")"
    - } else {
    -   page_title = "Плейлист"
    -   film = {}
    - }
    include mixins
    include head
    body
        .wrap-page.bg-noise
            include header
            if playlist.total_cnt==0
                .content(role='main')
                    section.broun-block-playlist
                        .bg-noise
                            .container.playlist-empty
                                h2 Пустой плейлист
                                span Вы можете добавлять в плейлист фильмы (нажимая на плюсик рядом с кнопкой просмотра), а также в плейлист добавляются автоматически весь контент сайта, на который вы подписаны.
                            .container
                                h1.dots2.whiteh1.centerh1 Рекомендуемое
                                .list-film
                                    .row#films
                                        each item in playlist.films
                                            mixin film_thumb(item)
            else
                .content(role='main')
                    section.broun-block-playlist
                        .bg-noise
                            .title-playlist.rel.zmin
                                .container
                                    .row
                                        .col-md-3.col-sm-4.text-right.pull-right
                                            if playlist.next
                                                - url_tmp = '/playlist/' + playlist.next.id
                                                a.action-film.next-film.active.sprite(href=url_tmp, title='')=playlist.next.name
                                        .col-md-3.col-sm-4.text-left
                                            if playlist.previous
                                                - url_tmp = '/playlist/' + playlist.previous.id
                                                a.action-film.prev-film.sprite(href=url_tmp, title='')=playlist.previous.name
                                        .col-md-6.col-sm-4.text-center
                                            p ПЛЕЙЛИСТ (#{playlist.id}/#{playlist.total_cnt})
                            //-
                               .title-playlist
                            .title-film
                                .container
                                    .row
                                        .col-md-8.col-sm-7
                                            .name-playlist
                                                h2=film.name
                                                if film.name_orig && film.name_orig != film.name
                                                    span=film.name_orig
                                        .col-md-4.col-sm-5
                                            .range-block-playlist.cf
                                                a.sprite.sprite-listof-view.block.fright(href='#', title='Удалить из плейлиста')#playlistof_btn
                                                .range-style2.fright
                                                    .rateit(data-rateit-max=10,data-rateit-step=1,data-rateit-resetable=1,data-rateit-value=(film.relation && film.relation.rating)?film.relation.rating:0)#rateit
                                                //-
                                                   .range-style2
                                            //-
                                               .range-block-tape
                            //-
                               .title-film
                            .film-area
                                .container
                                    each el in film.locations
                                        a(id=el.id)
                                    a(id="player")
                                    .frame-player-wrapper
                                        .frame-player-aspect
                                            .frame-player#frame_player
                                    if film.locations.length > 1
                                        ul.just-list.list-btns-film#locations
                                            each el in film.locations
                                                mixin loc_thumb(el)
                                //-
                                   .title-film
                            .playlist.rel.zmin
                                //-
                                   none-playlist добавляем к tp что бы изначально скрыть плейлист и убираем класс active c toggle-playlist
                                .tp
                                    .container
                                        .playlist-wrap
                                            .playlist-slider-wrap.cf.rel.zmin
                                                ul.cf#slider-playlist
                                                    li.crsl-items(data-navigation="slider_nav")
                                                        .row.crsl-wrap
                                                            each el,i in playlist.items
                                                                figure.col-md-2.col-sm-3.col-xs-4.crsl-item
                                                                    - url_tmp = '/playlist/' + (i + 1) + '/'
                                                                    a(href=url_tmp, title='')
                                                                        - poster_url = el.poster || noposter_url
                                                                        img(src=poster_url, alt='')
                                                                    p
                                                                        | #{el.name}
                                                                        br
                                                                        span=el.year
                                                #slider_nav.crsl-nav
                                                    i(class="sprite ab block control-slider prev-slide-playlist previous")
                                                    i(class="sprite ab block control-slider next-slide-playlist next")
                                //-
                                             .playlist-slider
                                //-
                                   .playlist-wrap
                                //-
                                   .toggle-playlist
                                a.block.ab.toggle-playlist.active(href='#', title='')
                                    span Скрыть плейлист
                                //-
                                   .playlist
                                //-
                                   .broun-block
                    section.section-about
                        .container
                            .row
                                .col-md-3.col-sm-4.col-xs-12
                                    .img-person-playlist
                                        img(src=film.poster || noposter_url, alt='')
                                        br
                                        img(src=img_url + 'shd-small.png', alt='')
                                    //-
                                       .img-person
                                .col-md-6.col-sm-8.col-xs-12
                                    ul.person-data-playlist
                                        if film.countries
                                            li
                                                span.th Страна
                                                - delim = false
                                                div
                                                    each c in film.countries
                                                        =(delim?", ":"") + c.name
                                                        - delim = true
                                        if film.directors && film.directors.length
                                            li
                                                span.th Режиссер
                                                - delim = false
                                                div
                                                    each c in film.directors
                                                        !=(delim?", ":"")+ '<a href="/persons/' + c.id + '/">' + c.name + "</a>"
                                                        - delim = true
                                        if film.scriptwriters && film.scriptwriters.length
                                            li
                                                span.th Сценарист
                                                - delim = false
                                                div
                                                    each c in film.scriptwriters
                                                        !=(delim?", ":"") + '<a href="/persons/' + c.id + '/">' + c.name + "</a>"
                                                        - delim = true
                                        if film.genres && film.genres.length
                                            li
                                                span.th Жанр
                                                div
                                                    - delim = false
                                                    each c in film.genres
                                                        !=(delim?", ":"") + '<a href="/?genre=' + c.id + '">' + c.name + "</a>"
                                                        - delim = true
                                        li
                                            span.th Дата выхода
                                            div
                                                | #{date_text_str(film.releasedate)}
                                        if film.duration
                                            li
                                                span.th Время
                                                div
                                                    | #{duration_text(film.duration)}
                                    //-
                                        .share-block
                                        img(src='images/content/img42.png', alt='')
                                    //-
                                       .share-block
                                .col-md-3.col-sm-12.col-xs-12
                                    if film.ratings && (film.ratings.cons || film.ratings.kp || film.ratings.imdb)
                                        .block-rate.rel.zmin
                                            .title-rate.text-center
                                                h5 Сводный рейтинг
                                            //-
                                               .title-rate
                                            .rel.zmin.blue-num.num
                                                i=film.ratings && film.ratings.cons[0]?film.ratings.cons[0]:"-"
                                            p.text-center!=(film.ratings && film.ratings.cons[1]?film.ratings.cons[1]:0).toString().replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1&thinsp;') + " голосов"
                                            if (film.ratings.kp && film.ratings.kp[0]) || (film.ratings.imdb && film.ratings.imdb[0]) || (film.ratings.vsevi && film.ratings.vsevi[0])
                                                ul
                                                    if film.ratings.vsevi && film.ratings.vsevi[0]
                                                        li
                                                            | Рейтинг
                                                            strong=" ВсеВи"
                                                            span=" " + film.ratings.vsevi[0]
                                                    if film.ratings.kp && film.ratings.kp[0]
                                                        li
                                                            | Рейтинг
                                                            strong=" КП"
                                                            span=" " + film.ratings.kp[0]
                                                    if film.ratings.imdb && film.ratings.imdb[0]
                                                        li
                                                            | Рейтинг
                                                            strong=" IMDB"
                                                            span=" " + film.ratings.imdb[0]
                                        //-
                                           .block-rate
                                        .brd-bottom-rate
                    section.brd-top
                        .container
                            .actors-full#actors_full.hide
                                h2.blackh1 Актеры
                            .row
                                #toggle_col.col-md-9
                                    if film.description
                                        .playlist-content
                                            h2.blackh1 Описание
                                            p!=film.description
                                    //-
                                       .playlist-content
                                    .add-comment#add_comment
                                        if auth_user
                                            h2.blackh1 Добавить комментарий
                                            form
                                                .form-group#comment_textarea_wrapper
                                                    textarea(placeholder="Опишите, что именно вам понравилось или не понравилось в фильме", name="text", rows="5").form-control
                                                    p
                                                .form-group
                                                    input.btn-yellow3.rel.zmin(type="submit", value="Добавить")
                                        else
                                            p
                                                | Чтобы добавить комментарий, пожалуйста,&nbsp;
                                                a(href="/register", title="").register зарегистрируйтесь
                                                | &nbsp;или&nbsp;
                                                a(href="/login").login войдите
                                                | &nbsp;в систему.
                                    - has_comments_cls = film.comments && film.comments.length ? "":"display-none"
                                    .has-comments(class=has_comments_cls)#has_comments
                                        h2.blackh1 Комментарии
                                        .tape-list#comments
                                            if film.comments && film.comments.length
                                                each el in film.comments
                                                    mixin comment_thumb(el)
                                        if film.comments && film.comments.length >= 5
                                            .add-filter#comments_more
                                                .add-content.style-panel-action.rel.zmin
                                                    a(href='#', title='') показать еще
                                                //-
                                                   .filter-content
                                                - tmp_url = img_url + "shd-big.png"
                                                img.img-responsive(src=tmp_url, alt='')
                                            //-
                                               .filter-block
                                .col-md-3.hide-actors#actors_left
                                    .playlist-content
                                        h2.blackh1 Актеры
                                        ul.actor-list.cf#actors
                                            each el in film.actors
                                                mixin person_thumb(el)
                                    if film.actors.length >= 5
                                        .add-filter#actors_more
                                            .add-content.style-panel-action.rel.zmin
                                                a(href='#show-actors', title='') показать всех
                                            //-
                                               .filter-content
                                            img.img-responsive(src=img_url + 'shd-big.png', alt='')
                                        //-
                                           .filter-block
                                        //-
            include footer
            - delete film.description; delete playlist.items;
            - delete film.comments;
        script(src=js_url + 'responsiveCarousel.min.js')
        script.
            $(document).ready(function () {window.InitApp({page_conf: {id: !{playlist.id}, film: !{JSON.stringify(film)}, previous: !{JSON.stringify(playlist.previous || {})}, next: !{JSON.stringify(playlist.next || {})}}}, "Playlist")})
