doctype html
html
    - is_main = true
    - filter_cast_status = {0: "все трансляции", "online": "онлайн", "future": "не начавшиеся", "passed": "архив"}
    - filter_cast_quality = [["", "любое качество"], ["sd", "обычное качество"], ["hd", "HD качество"]]
    - filter_cast_price = {0: "бесплатно", 50: "до 50 рублей", 100: "до 100 рублей", 200: "до 200 рублей"}
    include config
    include mixins
    include head
    body
        .wrap-page.bg-noise
            include header
            .content(role='main')
                section
                    .container
                        h1.dots2-casts.blackh1.centerh1 Онлайн трансляции
                        .filter-block
                            .filter-content.style-panel-action.rel.zmin#filter_content
                                .row
                                    .col-md-12
                                        ul.sort-list
                                            li#filter_cast_status
                                                a.sprite.sprite-i-toggle-bottom(href='#', data-toggle='dropdown', title='')
                                                    span=filter_cast_status[0]
                                                ul.dropdown-menu
                                                    each item, i in filter_cast_status
                                                        li
                                                            - url_tmp = "?status=" + i
                                                            a(href=url_tmp, title='',data-mi-id=i)=item
                                            li#filter_cast_tag
                                                a.sprite.sprite-i-toggle-bottom(href="#", data-toggle='dropdown', title='')
                                                    span любая тематика
                                                ul.dropdown-menu
                                                    li
                                                        a(href="?tag=", title='',data-mi-id="") любая тематика
                                                    each item in casts_tags
                                                        li
                                                            - url_tmp = "?tag=" + item.id
                                                            a(href=url_tmp, title='',data-mi-id=item.id)=item.name
                                            li#filter_cast_quality
                                                a.sprite.sprite-i-toggle-bottom(href='?quality=', data-toggle='dropdown', title='')
                                                    span=filter_cast_quality[0][1]
                                                ul.dropdown-menu
                                                    each item in filter_cast_quality
                                                        li
                                                            - url_tmp = "?quality=" + item[0]
                                                            a(href=url_tmp, title='',data-mi-id=item[0])=item[1]
                                                            e
                                            li#filter_cast_price
                                                a.sprite.sprite-i-toggle-bottom(href='#', data-toggle='dropdown', title='')
                                                    span=filter_cast_price[0]
                                                ul.dropdown-menu
                                                    each item, i in filter_cast_price
                                                        li
                                                            - url_tmp = "?price_high=" + i
                                                            a(href=url_tmp, title='',data-mi-id=i)=item
                            img.img-responsive(src=img_url + 'shd-big.png', alt='')
                            //-
                               .filter-content

                        //-
                        //   .filter-block
                        if casts && casts.length
                            .list-cast
                                .container
                                    .row#casts
                                        each item in casts
                                            mixin cast_thumb(item)
                                    .add-filter#casts_more
                                        .add-content.style-panel-action.rel.zmin
                                            - href = "/?page=" + (page?(page + 1):2)
                                            a(href=href) покажите еще трансляций
                                        img.img-responsive(src=img_url + 'shd-big.png', alt='')
            include footer
        script(src=js_url + 'responsiveCarousel.min.js')
        script.
            $(document).ready(function () {window.InitApp({}, "CastsList")})
