doctype html
html
    include config
    - page_title = "Восстановление пароля"
    include head
    body
        .wrap-page.bg-noise
            include header
            .content(role='main')
                section.blue-block
                    .bg-noise
                        .container
                            if error && error.token
                                p Время действия токена истек или неверный пользователь
                            else if confirm
                                p Пароль успешно заменен
                            else
                                h1.whiteh1 Восстановление пароля
                                .enter-block.row
                                    .col-md-6
                                        .form-enter
                                            form.form-horizontal(role='form', method='post')
                                                input(type="hidden",name="csrfmiddlewaretoken",value=csrf_token)
                                                - error_cls = error?"has-error":""

                                                - error_cls = error && error.password?"has-error":""
                                                .form-group(class=error_cls)
                                                    label.col-sm-4.control-label(for='inputPassword1') Пароль
                                                    .col-sm-8
                                                        input#inputPassword3.form-control(type='password',name='new_password1',required)
                                                        if error && error.new_password1
                                                            p=error.new_password1
                                                - error_cls = error && error.new_password2?"has-error":""
                                                .form-group(class=error_cls)
                                                    label.col-sm-4.control-label(for='inputPassword2') Повторите пароль
                                                    .col-sm-8
                                                        input#inputPassword4.form-control(type='password',name='new_password2',required)
                                                        if error && error.new_password2
                                                            p=error.new_password2
                                                .form-group
                                                    .col-sm-offset-2.col-sm-10
                                                        button.btn.btn-yellow1(type='submit') Применить
            include footer
