doctype html
html
    - is_main = true
    - filter_year_old = {0: "все фильмы", 1: "этого года", 3: "самые свежие", 8: "свежие", 15: "новые", 20: "не старые"}
    - filter_price = [["|", "в наличии и нет"], ["|1", "в наличии"], ["0|1", "бесплатно"], ["50|1", "до 50 рублей"], ["100|1", "до 100 рублей"], ["200|1", "до 200 рублей"]]
    - filter_rating = [[0, "любой рейтинг"], [5, "включая плохие"], [6, "неплохие"], [6.5, "хорошие"], [7, "отличные"], [8, "самые лучшие"]]
    - filter_sort = {"rating": "по рейтингу", "subscribes": "по подписчикам", "popular": "по популярности"}
    include config
    include mixins
    include head
    body
        .wrap-page.bg-noise
            include header
            .content(role='main')
                section.blue-block.films-new
                    .bg-noise
                        .container
                            h1.dots1.whiteh1.centerh1 новинки
                            .list-film
                                .row#films_new
                                    each item in films_new
                                        mixin film_thumb(item)
                section
                    .container
                        h1.dots2.blackh1.centerh1 Рекомендуемое
                        .filter-block
                            .filter-content.style-panel-action.rel.zmin#filter_content
                                .row
                                    .col-md-9
                                        ul.sort-list
                                            li#filter_year_old
                                                a.sprite.sprite-i-toggle-bottom(href='#', data-toggle='dropdown', title='')
                                                    span=filter_year_old[0]
                                                ul.dropdown-menu
                                                    each item, i in filter_year_old
                                                        li
                                                            - url_tmp = "?year_old=" + i
                                                            a(href=url_tmp, title='',data-mi-id=i)=item
                                            li#filter_price
                                                - url_tmp = '?price=' + filter_price[0][0]
                                                a.sprite.sprite-i-toggle-bottom(href=url_tmp, data-toggle='dropdown', title='')
                                                    span=filter_price[0][1]
                                                ul.dropdown-menu
                                                    each item in filter_price
                                                        li
                                                            - url_tmp = "?price=" + item[0]
                                                            a(href=url_tmp, title='',data-mi-id=item[0])=item[1]
                                            li#filter_genres
                                                a.sprite.sprite-i-toggle-bottom(href='#', data-toggle='dropdown', title='')
                                                    span все жанры
                                                ul.dropdown-menu
                                                    li
                                                        a(href='?genres=0', title='',data-mi-id=0) все жанры
                                                    each item in filter_genres
                                                        li
                                                            - url_tmp = "?genres=" + i
                                                            a(href=url_tmp, title='',data-mi-id=item.id)=item.name
                                            li#filter_rating
                                                a.sprite.sprite-i-toggle-bottom(href='#', data-toggle='dropdown', title='')
                                                    span=filter_rating[0]
                                                ul.dropdown-menu
                                                    each item in filter_rating
                                                        li
                                                            - url_tmp = "?rating=" + item[0]
                                                            a(href=url_tmp, title='',data-mi-id=item[0])=item[1]


                                    .col-md-3
                                        ul.sort-list.right-sort.nobg
                                            //-li
                                                strong cортировать:
                                            li#filter_sort.right-sort
                                                a.sprite.sprite-i-toggle-bottom(href='?sort=subscribes', data-toggle='dropdown', title='')
                                                    span по подписчикам
                                                ul.dropdown-menu.dropdown-menu-right
                                                    each item, i in filter_sort
                                                        li
                                                            - url_tmp = "?sort=" + i
                                                            a(href=url_tmp, title='',data-mi-id=i)=item
                            //-
                               .filter-content
                            img.img-responsive(src=img_url + 'shd-big.png', alt='')
                        //-
                           .filter-block
                        .list-film
                            .row#films
                                each item in films
                                    mixin film_thumb(item)
                        //-
                           .list-film
                        .add-filter#films_more
                            .add-content.style-panel-action.rel.zmin
                                - href = "/?page=" + (page?(page + 1):2)
                                a(href=href) мало, хочу еще фильмов
                            //-
                               .filter-content
                            img.img-responsive(src=img_url + 'shd-big.png', alt='')
                        //-
                           .filter-block
                if comments && comments.length
                    section.broun-block.index-comments-block
                        .bg-noise
                            .container
                                h1.dots3.whiteh1.centerh1 рецензии
                                .playlist-wrap
                                    .playlist-slider-wrap.cf.rel.zmin
                                        ul.cf
                                            li.crsl-items(data-navigation="slider_nav")
                                                .row.crsl-wrap
                                                    - mark_tootltips = ["не смотреть", "хуже не бывает", "очень плохо", "плохо", "ниже среднего", "средне", "неплохо", "хорошо", "отлично", "великолепно", "лучше не бывает"]
                                                    each item,i in comments
                                                        figure.col-md-4.col-sm-6.crsl-item
                                                            .block-text.rel.zmin
                                                                - url_tmp = '/films/' + item.film.id + '/'
                                                                a(href=url_tmp, title='')=item.film.name
                                                                .mark-comment
                                                                    strong Оценка:
                                                                    |&nbsp;#{mark_tootltips[item.film.rating]}
                                                                - text = item.text.replace(/\n+/gm, "<br/>")
                                                                - if (text.length > 300) text = text.substr(0, 300) + "..."
                                                                p!=text
                                                                ins.ab.zmin.sprite.sprite-i-triangle.block
                                                            //-
                                                               .block-text
                                                            .person-text.rel
                                                                - avatar = item.user.avatar || noavatar_url
                                                                .user-img-wrapper.img-circle
                                                                    img(src=avatar, alt='')
                                                                - url_tmp = '/users/' + item.user.id + '/'
                                                                a(href=url_tmp, title='')=item.user.name
                                                                i=item.user.city || ""
                                                            //-
                                                               .person-text
                                        #slider_nav.crsl-nav
                                            i(class="sprite ab block control-slider prev-slide-playlist previous")
                                            i(class="sprite ab block control-slider next-slide-playlist next")
            include footer
        script(src=js_url + 'responsiveCarousel.min.js')
        script.
            $(document).ready(function () {window.InitApp({}, "Main")})
