doctype html
html
    include config
    include mixins
    - film_name_meta = cast.title.replace(/"/g, " ")
    - film_descr_meta = cast.description ? cast.description.replace(/"/g, ' ').substr(0,256) : ''
    - film_url_meta = 'http://vsevi.ru/casts/' + cast.id + '/'
    - film_img_meta = cast.poster || noposter_url
    - if (film_img_meta[0] == "/") film_img_meta = 'http://vsevi.ru' + film_img_meta
    - title_alt = cast.title
    - if (cast.title_orig && cast.title_orig != cast.title) title_alt+= " (" + cast.title_orig + ")"
    - page_title_full = title_alt + " &mdash; онлайн-трансляции на Все видео"
    - page_keywords = "трансляция " + cast.title + (cast.title_orig?": " + cast.title_orig:"") + " онлайн-просмотр высокое качество смотреть онлайн рекомендации все видео hd"
    - page_description = "Онлайн просмотр без регистрации и информация о трансляции " + cast.title + (cast.title_orig?" (" + cast.title_orig + ")":"") + " рецензии, комментарии, рейтинг, рекомендации к просмотру."
    - meta = ['property="og:title" content="' + film_name_meta + '"', 'property="og:url" content="' + film_url_meta + '"', 'property="og:description" content="' + film_descr_meta + '"', 'property="og:image" content="' + film_img_meta + '"']
    - meta.push('name="twitter:card" content="summary"')
    - meta.push('name="twitter:url" content="' + film_url_meta + '"')
    - meta.push('name="twitter:title" content="' + film_name_meta + '"')
    - meta.push('name="twitter:description" content="' + film_descr_meta + '"')
    - meta.push('name="twitter:image" content="' + film_img_meta + '"')
    - head_link = ['rel="canonical" href="http://vsevi.ru/casts/' + cast.id + '/"']
    - min_vs_start = (new Date() - new Date(cast.start)) / 60 / 1000
    - duration = duration || 180
    - is_online = min_vs_start >= 0 && min_vs_start < duration
    - has_locations = cast.locations && cast.locations.length
    include head
    body
        .wrap-page.bg-noise
            include header
            .content(role='main')
<<<<<<< HEAD
                section.broun-block-playlist
                    .bg-noise
                        .title-cast
                            .container
                                .row
                                    .col-md-8.col-sm-7
                                        .name-playlist
                                            h2=cast.title
                                .row
                                    .col-md-8.col-sm-7
                                        div.cast-start-date=date_text(new Date(cast.start))
                                    if is_online
                                        .col-md-4.col-sm-5
                                            .cast-chat-header.fright#chat_ico
                                                - tmp_url = img_url + "cast-chat-icon.png"
                                                img(src=tmp_url, alt="", title="")
                                                .fright
                                                    h3.cast-chat-title Чат
                        .cast-area
                            .container
                                .row
                                    if is_online && has_locations
                                        .col-md-8.rpadding0#player_wrapper
                                            each el in cast.locations
                                                a(id=el.id)
                                            a(id="player")
                                            .frame-player-wrapper
                                                .frame-player-aspect
                                                    .frame-player#player_frame
                                        .col-md-4.lpadding0#chat_wrapper
                                            .cast-chat-block
                                                .cast-chat-list-wrapper-out
                                                    .cast-chat-list-wrapper-in
                                                        .cast-chat-list#chat_list
                                                input(type="text", placeholder="Введите сообщение и нажмите Enter").cast-chat-text-area#chat_input
                                    else if min_vs_start < 0 && has_locations
                                        .col-md-12.rpadding0.cast-offline
                                            h4 До начала видео осталось <span id="time_counter">#{duration_text(Math.floor(-min_vs_start))}</span>
                                            if min_vs_start < -40
                                                .btn-def.block.btn-subscribe#cast_subscribe_btn Подписаться
                                    else
                                        .col-md-12.rpadding0.cast-offline
                                            h4 Данное видео временно недоступно
            section.brd-top.cast-details
                .container
                    .row
                        .col-md-9
                            .playlist-content
                                .cast-share
                                    script(src="http://yandex.st/share/share.js", charset="utf-8")
                                    .yashare-auto-init(data-yasharetype="big", data-yashareL10n="ru", data-yashareQuickServices="vkontakte,odnoklassniki,moimir,facebook,twitter,gplus", data-yashareTheme="counter")
                                if cast.description
                                    //- h2.blackh1=cast.title
                                    p!=cast.description
                        if is_online && watching_users && watching_users.length
                            .col-md-3.hide-watching-users#watching_users_left
                                //- .playlist-content
                                    h2.blackh1 Сейчас смотрят
                                    ul.watching-users-list.cf#watching_users
                                        each user in watching_users
                                            mixin user_thumb2(user)
                                //- if watching_users.length >= 5
                                    .add-filter#watching_users_more
                                        .add-content.style-panel-action.rel.zmin
                                            a(href='#show-watching-users', title='') Показать всех
                                        //-
                                           .filter-content
                                        img.img-responsive(src=img_url + 'shd-big.png', alt='')
                                .cast-label-guests-count
                                    | Количество гостей:
                                    | #{" "}
                                    span#guests_cnt=guests_count
                        if similar_casts && similar_casts.length
                            .clearfix
                            h1.dots2-casts.centerh1 Онлайн трансляции
                            .list-cast
                                .container
                                    .row#casts
                                        each item in similar_casts
                                            mixin cast_thumb(item)
            include footer
            //- delete(film.similar); delete(film.description); delete(film.trailer);
            //- delete(film.comments);
            script.
                $(document).ready(function () {window.InitApp({page_conf: !{JSON.stringify(cast)}}, "Cast")})