doctype html5
include mixins
html(lang="ru")
    include head
    body.page-person
        include header
        .person-wrapper
            .container
                .col-md-3
                    .photo
                        img.img-responsive(src=person.photo || "static/img/noperson-big.jpg")
                    .button-place
                        button.subscribe-btn#subscribe_btn Подписаться
                .col-md-9
                    h1 #{person.name} <em>#{person.name_orig}</em>
                    table
                        if (person.roles && person.roles.length)
                            tr
                                th Карьера
                                td
                                    - items_str = person.roles.join(", ")
                                    =items_str
                        if (person.birthplace && person.birthplace.length)
                            tr
                                th Место рождения
                                td
                                    - items_str = person.birthplace.join(",")
                                    =items_str
                        tr
                            th Дата рождения
                            td #{person.birthdate} #{person.years_old} лет
                    h2 Биография
                    .bio!=person.bio
        .films-wrapper
            .container
                h2 Фильмография
            .container#films
                mixin film_thumb({id: 1, name: "Самый лучший фильм лучший фильм", year: 2014, relation: {rating: 5}, rating: {cons: 5.6}, poster: "static/img/tmp/poster1.jpg", instock: true, price: 100})
                mixin film_thumb({id: 2, name: "Самый лучший фильм", year: 2011, relation: {rating: 5}, rating: {cons: 8.6}, poster: "static/img/tmp/poster1.jpg", instock: true, hasFree: true})
                mixin film_thumb({id: 3, name: "Самый лучший фильм", year: 2001, relation: {rating: 8}, rating: {cons: 7}, poster: "static/img/tmp/poster1.jpg", instock: false})
                mixin film_thumb({id: 4, name: "Самый лучший фильм", year: 1970, relation: {rating: 3}, rating: {cons: 9.1}, poster: "static/img/tmp/poster1.jpg", instock: true, hasFree: true, price: 100})
            .container
                .films-more#films_more
                    button
                        span Мало, хочу ещё фильмов
                    .shadow
        include footer
        script.
            $(document).ready(function () {window.InitApp({page_conf: !{JSON.stringify(person)}}, "Person")})