- user = {id: 10, firstname: "Владимир", lastname: "Владимиров", how_long: "1 год и 2 месяца", friends_cnt: 129, films_watched: 10, comments_cnt: 1, genre_fav: {id: 1, name: "Анимэ"}}
doctype html5
include mixins
html(lang="ru")
    include head
    body.page-user
        include header
        .user-wrapper
            .container
                .col-md-3
                    img.img-responsive.img-circle(src="static/img/tmp/user.gif")
                    .button-place
                        button.friendship-btn#friendship_btn Добавить в друзья
                .col-md-9
                    h1 #{user.firstname} #{user.lastname}
                    table
                        tr
                            th На сайте
                            td=user.how_long
                        tr
                            th Друзей
                            td=user.friends_cnt
                        tr
                            th Посмотрел фильмов
                            td=user.films_watched
                        tr
                            th Оставил комментариев
                            td=user.comments_cnt
                        if user.genre_fav
                            tr
                                th Любимый жанр
                                td=user.genre_fav.name
        .container
            .col-md-3
                h2 Друзья
                h2 Любимые жанры
            .col-md-9
                h2 Лента активности
        .container
            h2 Подписан на фильмы
            #films
            .clearfix
            .films-more#films_more
                button
                    span Мало, хочу ещё фильмов
                .shadow
        .clearfix
        .container
            h2 Любимые актёры
            #actors
            .films-more#actors_more
                button
                    span Показать всех
                .shadow
        .clearfix
        .container
            h2 Любимые режиссёры
            #directors
            .films-more#directors_more
                button
                    span Показать всех
                .shadow
        include footer
        script.
            $(document).ready(function () {window.InitApp({page_conf: !{JSON.stringify(film)}}, "Film")})