doctype html5
include mixins
html(lang="ru")
    include head
    body.page-film
        include header
        if(playlist.total_cnt > 0)
            .nav-wrapper
                .container
                    .col-md-3
                        a(href="/playlist/" + playlist.previous.id)=playlist.previous.name
                    .col-md-6.text-center
                        strong Плейлист (#{playlist.id}/#{playlist.total_cnt})
                    .col-md-3
                        a(href="/playlist/" + playlist.next.id)=playlist.next.name
            .film-wrapper
                .container
                    h1.col-md-6 #{film.name} <span>#{film.year}</span><em>#{film.name_orig}</em>
                    .actions.col-md-6
                        button.notwatch-btn#notwatch_btn N
                        .rateit.rate#rateit(data-rateit-max=10,data-rateit-resetable=0,data-rateit-value=(film.relation && film.relation.rating)?film.relation.rating:0)
                        button.playlist-btn#playlist_btn +
                    .clearfix
                    .player-place
                        .player#player
                .container
                    .locations#locations
                        if (film.locations && film.locations.length)
                            each item in film.locations
                                mixin location_thumb(item)
            .playlist-list
                .container#playlist_list
                    - items_cnt = playlist.items.length
                    - for (var i = 0; i < items_cnt; i++)
                        .col-md-2
                            - item = playlist.items[i]
                            a(href="/playlist/" + (i+1))
                                img.img-responsive(src=item.poster || "static/img/noposter.jpg")
                                =item.name + "1"
            .container.film-info
                .col-md-3.poster-place
                    .poster
                        img.img-responsive(src=film.poster || "static/img/noposter.jpg")
                .col-md-6.info-place
                    table
                        if (film.countries && film.countries.length)
                            tr
                                th Страна
                                td
                                    -countries = []
                                    each country in film.countries
                                        - countries.push(country.name)
                                    - items_str = countries.join(", ")
                                    =items_str
                        if (film.directors && film.directors.length)
                            tr
                                th Режиссёр
                                td
                                    - i = 0
                                    each item in film.directors
                                        a(href="/persons/" + item.id)=item.name
                                        - i++
                                        if (i < film.directors.length)
                                            |,
                        if (film.scripwriters && film.scripwriters.length)
                            tr
                                th Сценарист
                                td
                                    - i = 0
                                    each item in film.scripwriters
                                        a(href="/persons/" + item.id)=item.name
                                        - i++
                                        if (i < film.scripwriters.length)
                                            |,&nbsp;
                        tr
                            th Дата выхода
                            td 1 января
                        tr
                            th Время
                            td 3 часа 10 минут
                .col-md-3.rating-place
                    .rating-header Сводный рейтинг
                    .rating-cons-cnt
                        p #{film.ratings.cons[1]}
                    .rating-cons-place
                        .rating-cons #{film.ratings.cons[0]}
                    .rating-all
                        p <strong>#{film.ratings.kp[0]}</strong> Рейтинг в <em>КП</em>
                        p <strong>#{film.ratings.imdb[0]}</strong> Рейтинг в <em>IMDB</em>
            .container
                .col-md-9
                    .description-place
                        h2 Описание
                        .description.
                            Метод HEAD.<br/>Метод HEAD аналогичен методу GET, за исключением того, что сервер ничего не посылает     в информационной части ответа. Метод HEAD запрашивает только информацию заголовка о
                            файле и ресурсе. Инфоримация заголовка запроса HEAD должна быть такой же, как в запросе
                            GET.
                            Этот метод используется, когда клиент хочет найти информацию о документе, не получая
                            его. Для метода HEAD существует множество приложений. Например, клиент может
                            затребовать следующую информацию:
                            * время изменения документа ( эти данные полезны для запросов, связанных с кэш-памятью);
                            * размер документа (необходим для компоновки страницы, оценки времени передачи,
                            определения необходимости запроса более компактной версии документа);
                            * тип документа (позволяет клиенту изучать документы только определенного типа);
                            * тип сервера;
                            Следует отметить, что большая часть информации заголовка, которую посылает сервер, не
                            является обязательной и может предоставляться не всеми срверами.
                            Ниже приведен пример HTTP-транакции с использованием запроса HEAD. Клиент посылает
                    .trailer-place
                    .comments-place
                        h2 Комментарии
                        #comments
                            mixin comment_thumb({id: 1, text: "lorem ipsum ipsum lorem", time_text: "5 минут назад", created: "2014-05-01 19:01:02", user: {id: 1, name: "Василий Пастеров"}})
                            mixin comment_thumb({id: 2, text: "lorem ipsum ipsum lorem", time_text: "5 минут назад", created: "2014-05-07 15:51:00", user: {id: 2, name: "Галя Кокорева", avatar: "static/img/tmp/user.gif"}})
                .col-md-3.actors-place
                    h2 Актёры
                    #actors
                        mixin person_thumb({id: 100, name: "Роберт Дениро"})
                        mixin person_thumb({id: 99, name: "Арнольд Шварценегер"})
                    .actors-more-place#actors_more
                        button
                            span Показать всех
         else
             h2 Пока вы не подписаны ни на один фильм!
        include footer
        script.
            $(document).ready(function () {window.InitApp({page_conf: !{JSON.stringify(playlist)}}, "Playlist")})
