- header_title="Регистрация"
html
    include head
- user_regdate = new Date(user.regdate)
- user_how_long = how_long(user_regdate, 1)
    body.user-page
        include header
        .container
            h1=user.name
            .col-md-3.text-center
                img.person-photo.img-responsive(src=user.avatar || conf.noavatar_big_url)
                button.btn.btn-default#friendship_btn Добавить в друзья
                if (user.friends && user.friends.length)
                    h3 Друзья
                    .friends-place#friends_place
                        each item in user.friends
                            mixin user_thumb(item)
                    if (user.friends.length >= 0)
                        .more-friends
                            button.btn.btn-default#morefriends_btn Показать всех
                if (user.genres && user.genres.length)
                    h3 Любимые жанры
                    .genres-place
                        each item in user.genres
                            !=item.name + " " + item.percent + "%<br/>"
            .col-md-9
                table.table.table-bordered
                    tr
                        td С нами на сайте
                        td=user_how_long
                    if (user.friends_cnt)
                        tr
                            td Друзей
                            td=user.friends_cnt
                    if (user.films_watched)
                        tr
                            td Просмотрел фильмов
                            td=user.films_watched
                    if (user.comments_cnt)
                        tr
                            td Оставил комментариев
                            td=user.comments_cnt
                    if (user.genre_fav)
                        tr
                            td Любимый жанр
                            td=user.genre_fav.name
            if (films_subscribed && films_subscribed.length)
                .clearfix
                .container
                    h2 Подписан на фильмы
                    .films-subscribed#films_subscribed
                        each item in films_subscribed
                            mixin film_thumb(item)
                    if (films_subscribed.length >= 0)
                        .clearfix
                        .more-films-subscribed#more_films_subscribed_place
                            button.btn.btn-default#more_films_subscribed Показать ещё
            if (actors_fav && actors_fav.length)
                .clearfix
                .container
                    h2 Любимые актёры
                    .actors-fav#actors_fav
                        each item in actors_fav
                            mixin person_thumb(item)
                    if (actors_fav.length >= 0)
                        .clearfix
                        .more-actors-fav#more_actors_fav_place
                            button.btn.btn-default#more_actors_fav Показать всех
            if (directors_fav && directors_fav.length)
                .clearfix
                .container
                    h2 Любимые режиссёры
                    .directors-fav#directors_fav
                        each item in directors_fav
                            mixin person_thumb(item)
                    if (directors_fav.length >= 0)
                        .clearfix
                        .more-directors-fav#more_directors_fav_place
                            button.btn.btn-default#more_directors_fav Показать всех
        include footer
        script.
            $(document).ready(function () {window.InitApp({page_conf: !{JSON.stringify(user)}}, "User")})